.container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: space-around;
  padding-top: 50px;
  font-family: 'Patua One', cursive;
}

.btn-container {
  width: 300px;
}

.side-container {
  width: 120px;
  dispay: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 20px;
}

.side-box {
  border-radius: 15px;
  height: 120px;
  background: #D8A915;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  margin-bottom: 20px;
  text-align: center;
  font-size: 20pt;
  padding-top: 10px;
}

#hud-level {
  font-size: 40pt;
  margin-top: -15px
}

.btn-set {
  text-align: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
}

.btn {
  width: 100%;
  margin-bottom: 10px;
  background: #593332;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.sbutton {
  color: white;
  width: 150px;
  height: 150px;
  margin: 5px;
  box-sizing: border-box;
  font-size: 0pt;
  text-align: center;
  background-image: url('http://image.shutterstock.com/z/stock-vector-lucha-libre-luchador-mexican-wrestling-masks-color-vector-icons-set-character-face-person-sport-327187910.jpg');
  background-repeat: no-repeat;
  background-size: 500px 500px;
}

#btn0 {
  /*  background: #F24950;*/
  background-position: -30px -12px;
}

#btn1 {
  /*  background: #716A4E;*/
  background-position: -30px -155px;
}

#btn2 {
  /*  background: #D8A915;*/
  background-position: -30px -310px;
}

#btn3 {
  /*  background: #593332;*/
  background-position: -175px -163px;
}

.highlight,
.sbutton:hover {
  -webkit-filter: saturate(8);
  filter: saturate(8);
}

.announce {
  font-size: 48pt;
  position: absolute;
  text-align: center;
  width: 300px;
  left: 175px;
  top: 165px;
  opacity: 0;
  color: #FF4D09;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.show-announce {
  -webkit-transition: -webkit-transform 2s ease, opacity 2s ease;
  transition: transform 2s ease, opacity 2s ease;
  opacity: 1;
  -webkit-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(2);
}